<%- include('header') -%>
  <nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/tehenesz">Tehenészet</a>
      </div>
      <div class="navbar-start">
        <a class="navbar-item" href="/">Kijelentkezés</a>
      </div>
    </div>
  </nav>
  <div class="container elements-container">
    <div class="table-container has-text-centered">
      <h1 class="title has-text-light"><%= tehenesz.nev %></h1>
      <table class="table is-hoverable is-bordered is-fullwidth is-size-5">
        <thead>
          <tr>
            <th>Név</th>
            <th>Szín</th>
            <th>Kor</th>
            <th>L tej/nap</th>
            <th>Közérzet</th>
          </tr>
        </thead>
        <tbody>
          <% for(tehen of tehenesz.tehenek) { %>
            <tr>
              <td><%= tehen.nev %></td>
              <td><%= tehen.szin %></td>
              <td><%= tehen.kor %></td>
              <td><%= tehen.tej %></td>
              <td><%= tehen.kozerzet %>
                <div class="buttons has-addons is-pulled-right">
                  <a class="button is-info" href="/tehen/<%= tehenesz._id %>/edit/<%= tehen._id %>"><i class="far fa-edit"></i></a>
                  <a class="button is-danger"><i class="fas fa-trash-alt"></i></a>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <a href="/tehen/<%= tehenesz._id %>/new" class="button is-fullwidth">Új hozzáadása</a>
  </div>
  <%- include('footer') -%>