<%- include('header') -%>
  <div class="container form-container">
    <h1 class="title has-text-light has-text-centered">
      <% if (typeof locals.tehen !== 'undefined') { %>
        <%= locals.tehen.nev %> adatainak szerkesztése
      <% } else { %>
        Új tehén felvétele
      <% } %> 
    </h1>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <% for(error of errors) { %>
        <p class="help is-danger is-size-4 has-text-weight-bold form-help"><%= error %></p>
      <% } %>
    <% } %>
    <form method="POST">
      <div class="field">
        <label class="label has-text-light is-large" for="input-name">Név</label>
        <div class="control">
          <input class="input" name="nev" id="input-name" type="text" required value="<%= typeof locals.tehen !== 'undefined' ? locals.tehen.nev : '' %>" placeholder="pl. Boci">
        </div>
      </div>
      <div class="field">
        <label class="label has-text-light is-large" for="input-color">Szín</label>
        <div class="control">
          <input class="input" name="szin" id="input-color" type="text" required value="<%= typeof locals.tehen !== 'undefined' ? locals.tehen.szin : '' %>" placeholder="pl. tarka">
        </div>
      </div>
      <div class="field">
        <label class="label has-text-light is-large" for="input-age">Kor</label>
        <div class="control">
          <input class="input" name="kor" id="input-age" type="text" required value="<%= typeof locals.tehen !== 'undefined' ? locals.tehen.kor : '' %>" placeholder="pl. 8">
        </div>
      </div>
      <div class="field">
        <label class="label has-text-light is-large" for="input-milk">L tej/nap</label>
        <div class="control">
          <input class="input" name="tej" id="input-milk" type="text" required value="<%= typeof locals.tehen !== 'undefined' ? locals.tehen.tej : '' %>" placeholder="pl. 3.5">
        </div>
      </div>
      <div class="field">
        <label class="label has-text-light is-large" for="input-mood">Közérzet</label>
        <div class="control">
          <input class="input" name="kozerzet" id="input-mood" type="text" required value="<%= typeof locals.tehen !== 'undefined' ? locals.tehen.kozerzet : '' %>" placeholder="pl. in a good mooood (hehe)">
        </div>
      </div>
      <input type="submit" href="/tehen/<%= locals.tehenesz._id %>" class="button is-medium is-fullwidth" value="Mentés">
    </form>
  </div>
<%- include('footer') -%> 